{% extends "merge_app/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dash-div">
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard.</p>
</div>

<div class="posted-div">
    {% for item in current_user_object %}
        <div>
            <p><img src="{{ item.document.url }}" alt="{{ item.file_name }}"></p>
            <p><a href="{% url "merge:share" item.id %}"><button type='submit'>Share<button></a></p>
            <p><a href="{% url "merge:delete" item.id %}"><button type='submit'>Delete<button></a></p>
            <p><a href="{% url "merge:edit" item.id %}"><button type='submit'>Edit<button></a></p>
        </div>
    {% endfor %}
</div>

{% endblock content %}