* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
  }
#header {
    display:flex;
    height: 50px;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}

#header li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;

}

/*#header div {
    

}*/

#header div:last-child {
    margin-left: auto;
    padding-right: 15px;
}

/*.logo {
    
}*/

form p {
    display: flex;
    flex-flow: column wrap;
}

.posted-div div {
    border: solid 1px goldenrod;
    margin: 25px;
    padding: 5px;
}


@media screen and (min-width: 600px) {
    #content {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: auto auto;
        gap: 5px;
        margin: 10px;
    }

    .dash-div {
        grid-column: 1;
        grid-row: 1;

    }

    .posted-div {
        grid-column: 1;
        grid-row: 2;
        
    }

    


    .form-div {
       grid-column: 2;
       grid-row: 1 / span 2;
    }

    .form-div ul {
        list-style: none;
        color: green;
    }

    .home-items {
        display: flex;
        flex-flow: column wrap;
    }

}